.donor-listings-container {
    padding: 40px;
    background-color: #f8f8e8;
}

.create-listing-form {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    background-color: #6c6c6c;
    border-radius: 20px;
    padding: 30px;
    color: #f1f1d0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.form-image-preview {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-preview {
    width: 200px;
    height: 150px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.image-placeholder {
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffebee, #ffcdd2);
    border-radius: 15px;
}

.upload-btn,
.post-btn {
    display: inline-block;
    padding: 5px 15px;
    background-color: #FDFAE7;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 16px;
    margin-top: 10px;
    border: none;
}

.upload-btn:hover,
.post-btn:hover {
    transform: scale(1.1);
}

.upload-btn input {
    display: none;
}

.form-fields {
    flex: 2;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: none;
    background-color: #FDFAE7;
    color: #333;
}

.inline-fields {
    display: flex;
    gap: 15px;
}

.inline-fields > * {
    flex-basis: 50%;
}

.textarea-field {
    width: 100%;
    padding: 15px;
    height: 100px;
    border-radius: 10px;
    border: none;
    background-color: #FDFAE7;
    color: #333;
    resize: none;
}

.listings-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.donor-listings-container h2 {
    color: black;
}

.edit-listing {
    margin: 20px 35px;
    text-align: center;
}