.login-register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 60px;
}

.login-register-page .foodLink {
    position: absolute;
    left: 0;
    top: 20px;
    transition-duration: 0.2s;
}

.login-register-page .foodLink:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.form-title {
    font-size: 40px;
    margin-bottom: 10px;
}

.or {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-container {
    background-color: #6c6c6c;
    margin: 30px;
    padding: 70px;
    width: 500px;
    color: #FDFAE7;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.form-input {
    background: #FDFAE7;
    border: none;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #6c6c6c;
}

.form-input:focus {
    border:none;
    transform: scale(1.05);
}

#role-selector {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border: 2px solid #FDFAE7;
    padding: 20px;
    border-radius: 10px;
}

.role {
    margin: 0px 10px;
}

input[type="radio"]:checked {
    border: 6px solid black;
}

.password {
    margin-top: 10px;
}

.form-button, .toggle-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    background-color: black;
    color: #FDFAE7;
    font-size: 15px;
    transition-duration: 0.4s;
}

.form-button:hover, .toggle-button:hover {
    scale: 1.1;
}

.login-register-page h2 {
    margin-bottom: 0px;
    margin-top: 30px;
}

.login-register-page .map-container {
    margin-bottom: 50px;
    border: 3px solid rgba(0, 0, 0, 0);
    outline: 2px solid #FDFAE7;
}